{% extends "../Base.html" %} {% block body_block %} {% load static %}{% load crispy_forms_tags %}


<head>
    <link rel="stylesheet" href="{% static 'css/Add_student.css'  %}" />
</head>
<div class="split left">

    <div class="jumbotron" style="background-color:#333;">
        <h2 style="color: white;">Add Notes</h2>
    </div>
    <!-- Button trigger modal -->
    <div class="row" style="margin-left: 50%;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Add Notes
        </button> &nbsp; &nbsp;
        <a href="{% url 'Teacher_Dashboard' %}" class="btn btn-primary"><i class="fa fa-home"
                aria-hidden="true"></i>Home</a>

    </div>
</div>
<div class="split right">

    <div class="jumbotron" style="background-color: #333;">
        <h2 style="color: white;">Added Notes</h2>
    </div>
    <table class="table" id='myTable'>
        <thead class="grey lighten-2">
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Notes</th>
                <th scope="col">Description</th>
                <th scope="col">Semester</th>
                <th scope="col">Branch</th>
                <th scope="col">Section</th>
            </tr>
        </thead>
        <tbody>
            {% for Detail in Details  %}
            <tr>
                <td>{{Detail.Subject}}</td>
                <td><a href="{{Detail.Notes.url}}" download>Uploaded Notes</a></td>
                <td>{{Detail.Description}}</td>


                <td>{{Detail.Semester}}
                </td>
                <td>{{Detail.Branch}}
                </td>

                <td>{{Detail.Section}}
                </td>
            </tr>



            {% endfor %}
        </tbody>
    </table>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Upload Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='POST' class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="Subject">Subject</label>
                    <select name="Subject" class="dropdown form-control">
                        {% for Sub in Subject  %}
                        <option value={{Sub}}>{{Sub}}</option>
                        {% endfor %}
                    </select>

                    <label for="Class">Semester</label>
                    <select name="Semester" class="dropdown form-control">
                        {% for Cl in Semester  %}
                        <option value={{Cl}}>{{Cl}}</option>

                        {% endfor %}
                    </select>

                    <label for="Branch">Branch</label>
                    <select name="Branch" class="dropdown form-control">
                        {% for Cl in Branch  %}
                        <option value={{Cl}}>{{Cl}}</option>

                        {% endfor %}
                    </select>
                    <label for="Section">Section</label>
                    <select name="Section" class="dropdown form-control">
                        {% for Sec in Section  %}
                        <option value={{Sec}}>{{Sec}}</option>
                        {% endfor %}
                    </select>

                    <label for="Notes">Notes</label>
                    <input type="file" name="notes" class="form-control" required>
                    <label for="description">Description</label>
                    <textarea name="description" class="form-control" cols="30" rows="3" required></textarea>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">


        <ul class="list-unstyled components">

            <li class="active">
                <a href="{% url 'Teacher_module:Add_Notes' %}" class="btn btn-simple"> <i class="fa fa-file"
                        aria-hidden="true"></i> &nbsp;Notes</a>
            </li>
            <li class="active">
                <a href="{% url 'Teacher_module:Assignment' %}" class="btn btn-simple"> <i class="fa fa-file"
                        aria-hidden="true"></i> &nbsp;Assignment</a>
            </li>







        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<script type="text/javascript">

    $(document).ready(function () {
        console.log($('#myTable'))
        $.noConflict();
        $('#myTable').DataTable();
    });
</script>
{% endblock body_block %}