h1,
h2 {
  text-align: center;
}

.jumbotron {
  background-color: #333;
  color: white;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 200px !important; 
  margin-top: 50px !important;
  position: fixed  !important;
  top: 0  !important;
  left: 0 !important;
  height: 100vh !important;
  z-index: 999 !important;
  background: #333  !important;
  color: #fff !important;
  transition: all 0.3s !important;
}

#sidebar.active {
  margin-left: -250px !important;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0 !important;
  border-bottom: 1px solid #47748b !important;
}

#sidebar ul p {
  color: #fff !important;
  padding: 10px !important;
}

#sidebar ul li a {
  padding: 10px !important;
  font-size: 1.1em !important;
  display: block !important;
}
#sidebar ul li a:hover {
  color: #333 !important;
  background: #fff !important;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff !important;
  background: #333 !important;
}


a[data-toggle="collapse"] {
  position: relative !important;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259' !important;
  display: block !important;
  position: absolute !important;
  right: 20px !important;
  font-family: 'Glyphicons Halflings' !important;
  font-size: 0.6em !important;
}
a[aria-expanded="true"]::before {
  content: '\e260' !important;
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #333 !important;
}

ul.CTAs {
  padding: 20px !important;
}

ul.CTAs a {
  text-align: center !important;
  font-size: 0.9em !important;
  display: block !important;
  border-radius: 5px !important;
  margin-bottom: 5px !important;
}
a.download {
  background: #fff !important;
  color: #7386D5 !important;
}
a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: calc(100% - 250px) !important;
  padding: 40px !important;
  min-height: 100vh !important;
  transition: all 0.3s !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
#content.active {
  width: 100% !important;
}


/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px !important;
  }
  #sidebar.active {
      margin-left: 0 !important;
  }
  #content {
      width: 100% !important;
  }
  #content.active {
      width: calc(100% - 250px) !important;
  }
  #sidebarCollapse span {
      display: none !important;
  }
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
 
}

/* Control the right side */
.right {
  right: 0;
 
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
