{% extends "Base.html" %} {% block body_block %} {% load static %}
<div class="container">
    <div class="jumbotron">
        <br>
        <strong>

            <h2 class="text-secondary" style="text-align: center;">Change Password &nbsp; &nbsp; &nbsp;
                {% if isTeacher %}
                <a href="{% url 'Teacher_Dashboard' %}" class="btn btn-primary"><i class="fa fa-home"
                        aria-hidden="true"></i>Home</a> </h2>
            {% endif %}
            {% if isAdmin %}
            <a href="{% url 'Admin_Dashboard' %}" class="btn btn-primary"><i class="fa fa-home"
                    aria-hidden="true"></i>Home</a> </h2>
            {% endif %}
            {% if isStudent %}
            <a href="{% url 'Student_Dashboard' %}" class="btn btn-primary"><i class="fa fa-home"
                    aria-hidden="true"></i>Home</a> </h2>
            {% endif %}
        </strong>

    </div>
    <form class="form-group" , method="POST">
        {% csrf_token %}
        <label for="ID">Current Password</label>
        <input type="password" name="Current_Password" class="form-control" required />
        <label for="password">New Password:-</label>
        <input type="password" name="New_Password" class="form-control" required />
        <label for="password">Confirm Password:-</label>
        <input type="password" name="Confirm_Password" class="form-control" required />
        <input type="submit" value="Update" class="btn btn-primary" />
    </form>
</div>
</div>
{% endblock body_block %}